<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width">
		<title>Keather</title>
	</head>
	<body>
		<header>
			<h1>Keather</h1>
			<nav>
				<a asp-action="Index">Today</a>
				<a asp-action="Hourly">Hourly</a>
				<a asp-action="Daily">Daily</a>
				<a asp-action="Air">Air Quality</a>
			</nav>
		</header>
		@RenderBody()
	</body>
</html>
